<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devin.dezhi.mapper.v1.ArticleMapper">

    <!-- 插入文章向量 -->
    <insert id="insertWithVector">
        INSERT INTO article(id, category_id, title, summary, content, content_md, url,
                            is_stick, status, is_hot, is_ai,
                            create_time, update_time, is_deleted,
                            summary_embedding)
        VALUES (#{article.id}, #{article.categoryId}, #{article.title}, #{article.summary}, #{article.content},
                #{article.contentMd}, #{article.url},
                #{article.isStick}, #{article.status}, #{article.isHot}, #{article.isAi},
                #{article.createTime}, #{article.updateTime}, #{article.isDeleted},
                #{article.summaryEmbedding, jdbcType=OTHER,typeHandler=com.example.handler.VectorTypeHandler}::vector)
    </insert>
</mapper>
